<div class="container">

  <div class="">
    <h4>Lista de personajes</h4>

  </div>

  <br>
  <div class="row">
    <div class="col-lg-3" *ngFor="let item of personajes">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ item.homeworld }}</h6>
           <a href="#" class="btn btn-primary"  [routerLink]="['/people/', item.id  ]" class="btn btn-primary me-2 btn-sm">Ver detalles</a>
         <!-- <button class="btn btn-primary" (click)="onDetail(item.id)">Ver detalles</button> -->
        </div>
      </div>
    </div>
  </div>







</div>
