<div class="container" *ngIf="personajes">

  <h4>Detalles del personaje {{ personajes.name }}</h4>


  <br>

  <div class="row pb-4">
    <div class="col-3">Name</div>
    <div class="col-9">{{ personajes.name }}</div>

    <div class="col-3">Eye Color</div>
    <div class="col-9">{{ personajes.eye_color }}</div>


    <div class="col-3">Gender</div>
    <div class="col-9">{{ personajes.gender }}</div>



    <div class="col-3">Height</div>
    <div class="col-9">{{ personajes.height }}</div>



    <div class="col-3">Mass</div>
    <div class="col-9">{{ personajes.mass }}</div>

    <div class="col-3">Hair Color</div>
    <div class="col-9">{{ personajes.hair_color }}</div>

    <div class="col-3">Skin Color</div>
    <div class="col-9">{{ personajes.skin_color }}</div>

    <div class="col-3">Birth Year</div>
    <div class="col-9">{{ personajes.birth_year }}</div>

    <div class="col-3">Home World</div>
    <div class="col-9">{{ personajes.homeworld }}</div>

    <div class="col-3">Url</div>
    <div class="col-9">{{ personajes.url }}</div>

  </div>


  <button class="btn btn-primary" (click)="onBack()">Volver</button>


</div>
